<div class="cont">
    <div class="title">图书管理</div>
    <div class="details">
        <div class="details_operation clearfix">
            <div class="bui_select">
                <input type="button" value="添加图书" class="add" ng-click="toAddBook()">
            </div>
            <div class="fr"></div>
        </div>
        <!--表格-->
        <table class="table" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th width="4%">编号</th>
                    <th width="4%">类别</th>
                    <th width="13%">书名</th>
                    <th width="11%">作者</th>
                    <th width="10%">出版社</th>
                    <th width="12%">ISBN</th>
                    <th width="10%">版本</th>
                    <th width="7%">价格</th>
                    <th width="7%">总数</th>
                    <th width="7%">剩余数量</th>
                    <th width="15%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in allBooks">
                    <td>{{book.BookId}}</td>
                    <td>{{book.BookCategory}}</td>
                    <td>{{book.BookName}}</td>
                    <td>{{book.BookAuthor}}</td> 
                    <td>{{book.Press}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.Version}}</td>
                    <td>{{book.Price}}</td>
                    <td>{{book.TotalNum}}</td>
                    <td>{{book.FreeNum}}</td>
                    <td align="center"><input type="button" value="修改" class="btn" ng-click="updateBook(book)"><input type="button" value="删除" class="btn" ng-click="delBook(book)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>