<div class="cont">
    <div class="title">修改书籍信息</div>
    <div class="details">
    	<div class="inner wrp">
	    <div class="login_frame">
	        <h3>书籍信息</h3>
	        <p>书籍名称 {{data.bookName}}</p>
	        <form class="login_form" id="loginForm">
	            <div class="login_input_panel" id="js_mainContent">
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="作者" ng-model="data.BookAuthor">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="出版社"  ng-model="data.Press">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="类别"  ng-model="data.BookCategory">
	                </div>
	                <!-- <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="出版日期"  ng-model="data.ReleaseDate">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="ISBN"  ng-model="data.bookISBN">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="版本"  ng-model="data.bookVersion">
	                </div> -->
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="价格"  ng-model="data.Price">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="数量"  ng-model="data.TotalNum">
	                </div>
	            </div>
	            <div class="login_btn_panel">
	                <a class="btn_login" title="更新" ng-click="updateBook()">更新</a>
	            </div>
	        </form>
	    </div>
	</div>
    </div>
</div>