<div class="cont">
    <div class="title">登陆</div>
    <div class="details">
    	<div class="inner wrp">
	    <div class="login_frame">
	        <h3>登录</h3>
	        <form class="login_form" id="loginForm">
	            <div class="login_input_panel" id="js_mainContent">
	                <div class="login_input">
	                    <i class="icon_login un"></i>
	                    <input type="text" placeholder="学号" ng-model="data.id">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="password" placeholder="密码" ng-model="data.pwd">
	                </div>
	            </div>
	            <div class="login_btn_panel">
	                <a class="btn_login" title="点击登录" ng-click="doLogin()">登录</a>
	            </div>
	        </form>
	    </div>
	</div>
    </div>
</div>