<div class="cont">
    <div class="title">添加新用户</div>
    <div class="details">
    	<div class="inner wrp">
	    <div class="login_frame">
	        <h3>输入用户信息</h3>
	        <form class="login_form" id="loginForm">
	            <div class="login_input_panel" id="js_mainContent">
	                <div class="login_input">
	                    <i class="icon_login un"></i>
	                    <input type="text" placeholder="学号/教工号" ng-model="data.userId">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="密码" ng-model="data.userPwd">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="真实姓名" ng-model="data.userTrueName">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="最大借阅数量" ng-model="data.userMaxNum">
	                </div>
	                <div class="login_input">
	                    <i class="icon_login pwd"></i>
	                    <input type="text" placeholder="类型（教师/学生）" ng-model="data.userType">
	                </div>
	            </div>
	            <div class="login_btn_panel">
	                <a class="btn_login" title="提交" ng-click="addUser()">提交</a>
	            </div>
	        </form>
	    </div>
	</div>
    </div>
</div>