<div class="cont">
    <div class="title">已预定</div>
    <div class="details">
        
        <!--表格-->
        <table class="table" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th width="6%">编号</th>
                    <th width="14%">书名</th>
                    <th width="11%">作者</th>
                    <th width="10%">出版社</th>
                    <th width="12%">ISBN</th>
                    <th width="10%">版本</th>
                    <th width="8%">价格</th>
                    <th width="8%">图书状态</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in allReservationBooks">
                    <td>{{book.BookId}}</td>
                    <td>{{book.BookName}}</td>
                    <td>{{book.BookAuthor}}</td>
                    <td>{{book.Press}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.Version}}</td>
                    <td>{{book.Price}}</td>
                    <td>{{book.State}}</td>
                    <td align="center"><input type="button" value="取消预约" class="btn" ng-click="cancleOperation(book)"><input type="button" value="借阅" class="btn" ng-show="{{book.State}}" ng-click="lendOperation(book)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>